<form method="post" action="{{ path('product_variant_delete', {'id': product_variant.id, 'product': product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_variant.id) }}">
    <button class="btn btn-danger buttons-s-m">Delete</button>
</form>
