{% extends 'dashboard.html.twig' %}

{% block title %}Edit ProductVariant{% endblock %}

{% block content %}
    <h1>Edit Product Variant</h1>

    {{ include('product_variant/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary buttons-s-m" href="{{ path('product_variant_index', {'product': product.id}) }}">Back to variants of product</a>

    {{ include('product_variant/_delete_form.html.twig') }}
{% endblock %}
