{% extends 'dashboard.html.twig' %}

{% block title %}Product Variant List{% endblock %}

{% block content %}
    <h1>{{ product.title }} Variants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sku</th>
                <th>Price</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
        {% for product_variant in product_variants %}
            <tr>
                <td>{{ product_variant.name }}</td>
                <td>{{ product_variant.sku }}</td>
                <td>{{ product_variant.price }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('product_variant_edit', {'product': product.id, 'id': product_variant.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no variants found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('product_variant_new', {'product': product.id}) }}">Add</a>
{% endblock %}
