{% extends 'dashboard.html.twig' %}

{% block title %}Adding Product Variant{% endblock %}

{% block content %}
    <h1>Adding Product Variant</h1>

    {{ include('product_variant/_form.html.twig') }}

    <a class="btn btn-secondary buttons-s-m" href="{{ path('product_variant_index', {'product': product.id}) }}">Back to variants of product</a>
{% endblock %}
