{% extends 'base.html.twig' %}

{% block title %}ProductVariant{% endblock %}

{% block body %}
    <h1>ProductVariant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_variant.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product_variant.name }}</td>
            </tr>
            <tr>
                <th>Sku</th>
                <td>{{ product_variant.sku }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product_variant.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_variant_index') }}">back to list</a>

    <a href="{{ path('product_variant_edit', {'id': product_variant.id}) }}">edit</a>

    {{ include('product_variant/_delete_form.html.twig') }}
{% endblock %}
