{% extends 'dashboard.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block content %}
    <h1>Edit Product</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
    <a class="btn btn-secondary buttons-s-m" href="{{ path('product_index') }}">Back</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
