{% extends 'dashboard.html.twig' %}

{% block title %}Products{% endblock %}

{% block content %}
    <h1>Product List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
                    <a class="btn btn-warning" href="{{ path('product_variant_index', {'product': product.id}) }}">Manage Variants</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no products found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('product_new') }}">Create new product</a>
{% endblock %}
