{% extends 'dashboard.html.twig' %}

{% block title %}New Product{% endblock %}

{% block content %}
    <h1>Create new Product</h1>

    {{ include('product/_form.html.twig') }}

    <a class="btn btn-secondary buttons-s-m" href="{{ path('product_index') }}">Back to Products</a>
{% endblock %}
