{% extends 'dashboard.html.twig' %}

{% block title %}Products Search{% endblock %}

{% block content %}
    <h1>Products Search</h1>
    <form action="">
        <label class="sr-only" for="string">Name</label>
        <input type="text" name="string" class="form-control mb-2 mr-sm-2" id="string" value="{{ request_values.string }}"
               placeholder="What product are you looking for?">
        <div class="form-inline">
            <div class="mb-2 mr-sm-2">
                Limit Colors
            </div>
            {% for color in color_values %}
                <div class="form-check form-check-inline mb-2 mr-sm-2">
                    <input name="colors[]" value="{{ color.value }}" {% if color.value in request_values.colors %} checked {% endif %} class="form-check-input" type="checkbox" id="{{ color.id }}">
                    <label name="colors[]" class="form-check-label" for="{{ color.id }}">{{ color.value }}</label>
                </div>
            {% endfor %}
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" name="price-from" class="form-control" id="from-price" value="{{ request_values.priceFrom }}" placeholder="Price From">
                <input type="text" name="price-to" class="form-control" id="to-price" value="{{ request_values.priceTo }}" placeholder="Price To">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
    </form>
    <div class="products-list">
        <div class="row">
            {% for product in products.hits.hits %}
                <div class="col-sm-2">
                    <article class="product-item text-center">
                        <img class="img-responsive" src="{{ asset('img/product.png') }}"
                             alt="{{ product._source.title }}">
                        <h3>
                            {{ product._source.title }}
                        </h3>
                        <p>
                            {{ product._source.description }}
                        </p>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
