{% extends 'base.html.twig' %}
{% block body %}
    <div class="auth">
    <a href="{{ path('auth_login') }}">
        <img class="mb-4" src="{{ asset('img/logo.svg') }}" alt="" width="72"
             height="72">
    </a>
        {% block content %}{% endblock %}
    </div>
{% endblock %}
