{% extends 'auth.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-block btn-primary" type="submit">
        Register
    </button>
    {{ form_end(form) }}
{% endblock %}
